/* Google Font below, "Orbitron"*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background: transparent;
    width: 505px;
    margin: 50px auto;
    height: 115px;
    position: fixed;
    padding: 3px;
    border-radius: 45px;
    position: absolute;
    top: 0px;
    left: 35%;
    box-shadow: 0px 0px 15px 0px;
}

.badge {
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font-family: orbitron;
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: 27%;
    border-radius: 18px;
}

.badge2 {
    color: black;
    background: yellow;
    width: 250px;
    height: 35px;
    padding: 5px 0px;
    border-radius: 18px;
    font-size: 17px;
    font-family: orbitron;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 26.5%;
    text-shadow: rgba(245, 245, 245, 0.308) 1px 2px;
    background: transparent;
    box-shadow: 0px 0px 15px 0px; 
}

.clock {
    background: transparent;
    text-align: center;
    font-size: 57px;
    height: 100%;
    padding-top: 15px;
    font-family: orbitron;
    text-shadow: rgba(245, 245, 245, 0.308) 1px 2px;
}

.background-image {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

h4 {
  font-weight: 900;
}



/* CSS below for the switch feature*/

body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background: rgb(236, 236 , 236);
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  
  .switch {
    position: relative;
    display: block;
    width: 75px;
    height: 35px;
    margin-bottom: 30px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: transparent;
    transition: 2s;
    border: 3px solid transparent;
    box-shadow: 0px 0px 15px 0px
  }
  
  .slider:before {
    position: absolute;
    content:"";
    bottom: 14px;
    top: 8px;
    background-color: black;
    transition: .5s;
  }
  
  .switch input {
    display: none;
  }
  
  input:checked + .slider {
    background-color: black;
  }

input:checked + .slider:before {
  transform: translateX(47px) rotateZ(45deg);
  background: white;
}
  
  .slider.round {
    border-radius: 35px;
  }
  
  .slider.round:before {
    width: 28%;
    height: 28%;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    transform: rotateZ(-45deg);
  }